
@{
    ViewData["Title"] = "Index2";
}

<h1>Index2</h1>
<section>
    <p id="fristPrm"></p>
    <br />
    <form>

        <div class="form-group row">
            <div class="col-xl-2 col-lg-2 col-md-2">
                <input type="number" id="x" class="form-control" />
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2">
                <input type="number" id="y" class="form-control" />
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2">
                <button type="button" class="btn btn-success btn-sm" onclick="sumFun()">calculate</button>
            </div>
        </div>
    </form>
</section>

@section scripts{ 
    <script>
        sum();
        var x = $('#x').val();
        var y = $('#y').val();
        var sum = parseInt(x) + parseInt(y);
        $("fristPrm").taxt(sum);

    </script>
}


