
@{
    ViewData["Title"] = "javaScript";
}

<h1>javaScript </h1>

<br />

<section>

    <p  id="demo"></p>

    <br/>
    <form>
        <div class="form-group row">
            <div class="col-xl-2 col-lg-2 col-md-2">
                <input type="number" id="fristNumber" class="form-control" />
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2">
                <input type="number" id="secendNumber" class="form-control" />
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2">
                <button type="button" class="btn btn-success btn-sm" onclick="calculateFun()">calculate</button>
            </div>
        </div>

    </form>

</section>
@section scripts{
    <script>

        var x = 25;
        var y = 15;
        var z = x + y;

        $(document).ready(function () {

            $("#demo").text(z);
            $("#demo").css('font-size', '150px');

        });

        var colorToggle = 1;
        $

        if (colorToggle == 1) {

            $("#demo").css('color', 'red');
            colorToggle = colorToggle + 1;
        }
        else if (colorToggle == 2) {

            $("#demo").css('color', 'green');
            colorToggle = colorToggle + 1;

        }
        else if (colorToggle == 3) {

            $("#demo").css('color', 'yellow');
            colorToggle = 1;

        }
            
        </script>
 }
